

/* Buttons gradient */
/* Gradient 1 */
.btn-ig-gradient {
    background: linear-gradient(65deg, rgba(0, 131, 81, .95) 50%, rgba(0, 50, 131, .95) 50%, rgba(0, 50, 131, .95) 60%, rgba(0, 131, 81, .95) 60%);
    background-position-x: 0%;
    background-size: 350%;
    border: unset;
    color: rgba(255, 255, 255, 1);
    transition: .5s ease-in-out;
}
.btn-ig-gradient:hover {
    background-position-x: 100%;
    color: rgba(255, 255, 255, 1);
    transition: .5s ease-in-out;
}
.btn-ig-gradient:focus {
    box-shadow: unset;
}
/* Gradient 1 reverse */
.btn-ig-gradient-reverse {
    background: linear-gradient(65deg, rgba(0, 50, 131, .95) 50%, rgba(0, 131, 81, .95) 50%, rgba(0, 131, 81, .95) 60%, rgba(0, 50, 131, .95) 60%);
    background-position-x: 0%;
    background-size: 300%;
    border: unset;
    color: rgba(255, 255, 255, 1);
    transition: .5s ease-in-out;
}
.btn-ig-gradient-reverse:hover {
    background-position-x: 100%;
    color: rgba(255, 255, 255, 1);
    transition: .5s ease-in-out;
}
.btn-ig-gradient-reverse:focus {
    box-shadow: unset;
}
/* Gradient 2 */
.btn-ig-gradient2 {
    background: linear-gradient(65deg, rgba(0, 131, 81, .95) 50%, rgba(131, 0, 52, .95) 50%, rgba(131, 0, 52, .95) 60%, rgba(0, 131, 81, .95) 60%);
    background-position-x: 0%;
    background-size: 300%;
    border: unset;
    color: rgba(255, 255, 255, 1);
    transition: .5s ease-in-out;
}
.btn-ig-gradient2:hover {
    background-position-x: 100%;
    color: rgba(255, 255, 255, 1);
    transition: .5s ease-in-out;
}
.btn-ig-gradient2:focus {
    box-shadow: unset;
}
/* Gradient 2 reverse */
.btn-ig-gradient2-reverse {
    background: linear-gradient(65deg, rgba(0, 131, 81, .95) 50%, rgba(131, 0, 52, .95) 50%, rgba(131, 0, 52, .95) 60%, rgba(0, 131, 81, .95) 60%);
    background-position-x: 0%;
    background-size: 300%;
    border: unset;
    color: rgba(255, 255, 255, 1);
    transition: .5s ease-in-out;
}
.btn-ig-gradient2-reverse:hover {
    background-position-x: 100%;
    color: rgba(255, 255, 255, 1);
    transition: .5s ease-in-out;
}
.btn-ig-gradient2-reverse:focus {
    box-shadow: unset;
}
/* Buttons outline */
/* Outline green */
.btn-ig-outline-green {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 131, 81, 1);
    color: rgba(0, 131, 81, 1)!important;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
}

.btn-ig-outline-green:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 131, 81, 0.25);
}
.btn-ig-outline-green:hover {
    background-color: rgba(0, 131, 81, 1);
    background-position: 100%;
    color: rgba(159, 209, 189, 1)!important;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
}
/* Buttons solids */
.btn-ig-solid-green {
    background-color: rgba(0, 131, 81, 1);;
    border-color: rgba(0, 131, 81, 1);
    color: rgba(255, 255, 255, 1)!important;
    transition: .15s ease-in-out;
}
.btn-ig-solid-green:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 131, 81, 0.25);
}
.btn-ig-solid-green:hover {
    background-color: rgba(0, 98, 59, 1);
    background-position: 100%;
    transition: .15s ease-in-out;
}
.btn-ig-solid-blue {
    background-color: rgba(13, 0, 131, 1);;
    border-color: rgba(13, 0, 131, 1);
    color: rgba(255, 255, 255, 1)!important;
    transition: .15s ease-in-out;
}
.btn-ig-solid-blue:focus {
    box-shadow: 0 0 0 0.2rem rgba(13, 0, 131, 0.25);
}
.btn-ig-solid-blue:hover {
    background-color: rgba(10, 0, 98, 1);
    background-position: 100%;
    transition: .15s ease-in-out;
}


/* Popover borders & headers*/
.b-popover-ig-border-green {
    border-color: rgba(96, 178, 146, 1);
}
.b-popover-ig-border-green .arrow::after{
    border-bottom-color: rgba(223, 240, 233, 1);
}
.b-popover-ig-border-green .arrow::before {
    border-bottom-color: rgba(96, 178, 146, 1);
}
.b-popover-ig-border-green .popover-header {
    background-color: rgba(223, 240, 233, 1);
}
.b-popover-ig-border-blue {
    border-color: rgba(105, 96, 178, 1);
}
.b-popover-ig-border-blue .arrow::after {
   border-bottom-color: rgba(225, 223, 240, 1);
}
.b-popover-ig-border-blue .arrow::before {
    border-bottom-color: rgba(105, 96, 178, 1);
}
.b-popover-ig-border-blue .popover-header {
    background-color: rgba(225, 223, 240, 1);
}
.b-popover-ig-border-darkpink {
    border-color: rgba(178, 96, 128, 1);
}
.b-popover-ig-border-darkpink .arrow::after {
    border-bottom-color: rgba(240, 223, 229, 1);
}
.b-popover-ig-border-darkpink .arrow::before {
    border-bottom-color: rgba(178, 96, 128, 1);
}
.b-popover-ig-border-darkpink .popover-header {
    background-color: rgba(240, 223, 229, 1);
}
.b-popover-ig-border-golden {
    border-color: rgba(169, 178, 96, 1);
}
.b-popover-ig-border-golden .arrow::after{
    border-bottom-color: rgba(238, 240, 223, 1);
}
.b-popover-ig-border-golden .arrow::before {
    border-bottom-color: rgba(169, 178, 96, 1);
}
.b-popover-ig-border-golden .popover-header {
    background-color: rgba(238, 240, 223, 1);
}
.b-popover-ig-border-blue .popover-header::before,
.b-popover-ig-border-darkpink .popover-header::before,
.b-popover-ig-border-golden .popover-header::before,
.b-popover-ig-border-green .popover-header::before {
    border-bottom: unset;
}
/* Text solid */
.text-ig-green {
    color: rgba(0, 131, 81, 1);
}
.text-ig-darkpink {
    color: rgba(131, 0, 52, 1);
}
.text-ig-blue {
    color: rgba(13, 0, 131, 1);
}
.text-ig-gold {
    color: rgba(118, 131, 0, 1);
}
/* Text gradient, include hover */
.text-ig-gradient-1 {
    background: linear-gradient(65deg, rgba(0, 131, 81, .95) 0, rgba(13, 0, 131, 1) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    background-position-x: 0%;
    background-size: 300%;
    -webkit-text-fill-color: transparent;
    transition: all .6s;
}
.text-ig-gradient-2 {
    background: linear-gradient(65deg,rgba(0, 131, 81, .95) 0, rgba(131, 0, 52, 1) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    background-position-x: 0%;
    background-size: 300%;
    -webkit-text-fill-color: transparent;
    transition: all .6s;
}
.text-ig-gradient-3 {
    background: linear-gradient(65deg, rgba(0, 131, 81, .95) 0, rgba(118, 131, 0, 1) 70%);
    -webkit-background-clip: text;
    background-clip: text;
    background-position-x: 0%;
    background-size: 300%;
    -webkit-text-fill-color: transparent;
    transition: all .6s;
}
.text-ig-gradient-1:hover,
.text-ig-gradient-2:hover,
.text-ig-gradient-3:hover {
    background-position-x: 100%;
    transition: all .6s;
}
