.blur-in-enter-active,
.blur-in-leave-active {
    transition: opacity .3s ease,  blur .3s ease;
}
.blur-in-enter,
.blur-in-leave-to {
    filter: blur(5px);
    opacity: 0;
}
.blur-in-out-enter-active,
.blur-in-out-leave-active {
    transition: opacity .3s ease,  blur .1s .2s ease;
}
.blur-in-out-enter,
.blur-in-out-leave-to {
    filter: blur(1px);
    opacity: 0;
}
/***
USED ??
 .fade-absolute-enter,
.fade-absolute-leave-to {
    opacity: 0;
    position: absolute;
}
.fade-absolute-enter-active,
.fade-absolute-leave-active {
    position: absolute;
    transition: all .2s;
}
***/
/* Opacity transition */
.fade-enter{
    opacity: 0;
}
.fade-enter-active{
    transition: opacity .2s;
}
.fade-leave-active{
    transition: opacity .2s;
    opacity: 0;
}
/* Transition the height on auto height elements (similar to bootstrap collapse) */
.fade-height-enter-to,
.fade-height-leave {
    max-height: 800px;
    transition: all .35s ease;
}
.fade-height-enter,
.fade-height-leave-to {
    max-height: 0;
    opacity: 0;
    transition: all .35s ease;
}
/* Fade translating from the right */
.slide-fade-enter-active,
.slide-fade-leave-active
/* USED ??
.slide-fade-absolute-enter-active,
.slide-fade-absolute-leave-active,
.slide-fade-absolute-left-enter-active,
.slide-fade-absolute-left-leave-active */  {
    transition: all .3s .006s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0;
    transform: translateX(10px);
}
/* USED ??
.slide-fade-absolute-leave-active {
    position: absolute;
}
.slide-fade-absolute-enter,
.slide-fade-absolute-enter-active,
.slide-fade-absolute-leave-to {
    opacity: 0;
    transform: translateX(10px);
} */
/* Used on the form fields to show the errors */
.liveFeedbacks-enter-active {
    transition: all .3s ease;
}
.liveFeedbacks-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.liveFeedbacks-enter, .liveFeedbacks-leave-to {
    transform: translateY(-10px);
    opacity: 0;
}
/* Used on the form fields of the editable tables to show the errors */
.liveFeedbacks-table-enter-active,
.liveFeedbacks-table-leave-active {
    position: absolute;
    transition: all .3s ease;
}
.liveFeedbacks-table-enter,
.liveFeedbacks-table-leave-to {
    display:block;
    opacity: 0;
    transform: translateY(-10px);
}
/***
USED ??
.table-alert-fade-enter,
.table-alert-fade-leave-active {
    opacity: 0;
    transition: all .1s;
}
.table-alert-fade-enter-active,
.table-alert-fade-leave-active {
    position: absolute;
}
****/
/* Wizard specific transitions */
.wizard-blur-in-enter-active,
.wizard-blur-in-leave-active {
    transition: filter .35s ease-in, opacity .3s .05s ease-in;
}
.wizard-blur-in-enter,
.wizard-blur-in-leave-to {
    filter: blur(4px);
    opacity: 0;
}
.wizard-btns-enter-active,
.wizard-btns-leave-active {
    transition: filter .35s 1s ease-in, opacity .35s 1s ease-in;
}
.wizard-btns-enter,
.wizard-btns-leave-to {
    filter: blur(4px);
    opacity: 0;
    visibility: hidden;
}
